.absolute {
  position: absolute
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem
}

.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem
}

.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem
}

.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem
}

.mx-0 {
  margin-left: 0px;
  margin-right: 0px
}

.mx-0\.5 {
  margin-left: 0.125rem;
  margin-right: 0.125rem
}

.mx-\[1px\] {
  margin-left: 1px;
  margin-right: 1px
}

.mx-\[10px\] {
  margin-left: 10px;
  margin-right: 10px
}

.mx-\[2px\] {
  margin-left: 2px;
  margin-right: 2px
}

.ml-2 {
  margin-left: 0.5rem
}

.mt-2 {
  margin-top: 0.5rem
}

.mt-4 {
  margin-top: 1rem
}

.h-\[75\] {
  height: 75
}

.h-28 {
  height: 7rem
}

.h-64 {
  height: 16rem
}

.h-\[65\] {
  height: 65
}

.w-24 {
  width: 6rem
}

.w-40 {
  width: 10rem
}

.flex-1 {
  flex: 1 1 0%
}

.flex-grow {
  flex-grow: 1
}

.flex-row {
  flex-direction: row
}

.flex-wrap {
  flex-wrap: wrap
}

.items-center {
  align-items: center
}

.justify-center {
  justify-content: center
}

.justify-between {
  justify-content: space-between
}

.rounded-lg {
  border-radius: 0.5rem
}

.rounded-t-3xl {
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem
}

.border-b-2 {
  border-bottom-width: 2px
}

.border-b-\[1px\] {
  border-bottom-width: 1px
}

.border-b-\[\.5px\] {
  border-bottom-width: .5px
}

.border-white {
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity))
}

.bg-red {
  --tw-bg-opacity: 1;
  background-color: rgb(226 25 56 / var(--tw-bg-opacity))
}

.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity))
}

.bg-garyDark {
  --tw-bg-opacity: 1;
  background-color: rgb(27 26 31 / var(--tw-bg-opacity))
}

.bg-dark {
  --tw-bg-opacity: 1;
  background-color: rgb(12 12 12 / var(--tw-bg-opacity))
}

.bg-opacity-10 {
  --tw-bg-opacity: 0.1
}

.p-2 {
  padding: 0.5rem
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem
}

.pt-4 {
  padding-top: 1rem
}

.text-center {
  text-align: center
}

.font-nunito-bold {
  font-family: nunito-bold
}

.font-nunito-medium {
  font-family: nunito-medium
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.text-red {
  --tw-text-opacity: 1;
  color: rgb(226 25 56 / var(--tw-text-opacity))
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.text-gray-500 {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity))
}

.underline {
  text-decoration-line: underline
}
