.absolute {
  position: absolute
}

.relative {
  position: relative
}

.bottom-5 {
  bottom: 1.25rem
}

.right-5 {
  right: 1.25rem
}

.left-\[40\%\] {
  left: 40%
}

.top-\[40\%\] {
  top: 40%
}

.m-2 {
  margin: 0.5rem
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem
}

.mx-0 {
  margin-left: 0px;
  margin-right: 0px
}

.mx-\[2px\] {
  margin-left: 2px;
  margin-right: 2px
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem
}

.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem
}

.my-3 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem
}

.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem
}

.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem
}

.mb-12 {
  margin-bottom: 3rem
}

.mt-4 {
  margin-top: 1rem
}

.ml-2 {
  margin-left: 0.5rem
}

.mt-2 {
  margin-top: 0.5rem
}

.mt-3 {
  margin-top: 0.75rem
}

.mt-1 {
  margin-top: 0.25rem
}

.mt-5 {
  margin-top: 1.25rem
}

.h-\[65\] {
  height: 65
}

.h-28 {
  height: 7rem
}

.h-40 {
  height: 10rem
}

.h-72 {
  height: 18rem
}

.h-full {
  height: 100%
}

.h-16 {
  height: 4rem
}

.h-64 {
  height: 16rem
}

.w-24 {
  width: 6rem
}

.w-40 {
  width: 10rem
}

.w-full {
  width: 100%
}

.w-16 {
  width: 4rem
}

.flex-1 {
  flex: 1 1 0%
}

.flex-row {
  flex-direction: row
}

.flex-col {
  flex-direction: column
}

.flex-wrap {
  flex-wrap: wrap
}

.items-center {
  align-items: center
}

.justify-end {
  justify-content: flex-end
}

.justify-center {
  justify-content: center
}

.justify-between {
  justify-content: space-between
}

.self-center {
  align-self: center
}

.rounded-lg {
  border-radius: 0.5rem
}

.rounded-full {
  border-radius: 9999px
}

.rounded-t-3xl {
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem
}

.border-b-\[\.5px\] {
  border-bottom-width: .5px
}

.border-white {
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity))
}

.bg-red {
  --tw-bg-opacity: 1;
  background-color: rgb(226 25 56 / var(--tw-bg-opacity))
}

.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity))
}

.bg-grayDark {
  --tw-bg-opacity: 1;
  background-color: rgb(27 26 31 / var(--tw-bg-opacity))
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.bg-dark {
  --tw-bg-opacity: 1;
  background-color: rgb(12 12 12 / var(--tw-bg-opacity))
}

.bg-opacity-10 {
  --tw-bg-opacity: 0.1
}

.bg-opacity-50 {
  --tw-bg-opacity: 0.5
}

.bg-opacity-30 {
  --tw-bg-opacity: 0.3
}

.p-2 {
  padding: 0.5rem
}

.p-3 {
  padding: 0.75rem
}

.p-4 {
  padding: 1rem
}

.p-5 {
  padding: 1.25rem
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem
}

.pt-2 {
  padding-top: 0.5rem
}

.pt-4 {
  padding-top: 1rem
}

.text-center {
  text-align: center
}

.font-nunito-bold {
  font-family: nunito-bold
}

.font-nunito-medium {
  font-family: nunito-medium
}

.text-lg {
  font-size: 18px
}

.text-sm {
  font-size: 12px
}

.text-2xl {
  font-size: 22px
}

.text-base {
  font-size: 14px
}

.text-xs {
  font-size: 10px
}

.text-md {
  font-size: 16px
}

.text-xl {
  font-size: 20px
}

.text-gray-300 {
  --tw-text-opacity: 1;
  color: rgb(209 213 219 / var(--tw-text-opacity))
}

.text-gray-400 {
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity))
}

.text-red {
  --tw-text-opacity: 1;
  color: rgb(226 25 56 / var(--tw-text-opacity))
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.text-gray-500 {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity))
}
